* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Overpass', sans-serif;

  color: hsl(0, 0%, 100%);
}

.main {
  background-color: hsl(216, 12%, 8%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  font-size: 15px;
  letter-spacing: 1px;
  }

.card {
  background-color: hsl(213, 19%, 18%);
  padding: 24px;
  border-radius: 12px;
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

.card.hidden{
  display:none;
}

.star{
  background-color: #4f5764 ;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 35px;
  text-align: center;
}

.star-image {
  object-fit: cover;
  flex-shrink: 0;
  width: 15px;
}

p {
  color: hsl(216, 12%, 54%);
}

h2 {
  font-size: 22px;
  font-weight: 700;
}


.rating {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.rating-number {
  background-color: #4f5764;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border-width: 0px;
}

.rating-number:hover {
  background-color: hsl(217, 12%, 63%);
 }

 .rating-number:focus {
  background-color: hsl(25, 97%, 53%);
}

#submit {
  background-color: white;
  border-width: 0px;
  padding: 10px 0 10px 0;
  border-radius: 22px;
  color: hsl(25, 97%, 53%);
  font-weight: 700;
}

#submit:focus {
  background-color: hsl(25, 97%, 53%);
  color: white
}

.card-thankyou {
  text-align: center;
  align-items: center;
  padding-bottom: 48px;
  padding-top: 48px;
}

.card-thankyou.hidden {
  display:none;
}

.image-thankyou{
  width: 35%;
}

#rating-thankyou-paragraph {
  color: hsl(25, 97%, 53%);
  background-color: #4f5764;
  border-radius: 14px;
  padding: 8px;
}
